.paypal {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paypalContainer {
    width: 300px;
}


@media screen and (min-width: 768px) { 
    .paypalContainer {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) { 
    .paypalContainer {
        width: 500px;
    }
}

