.checkout {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.numberTicketSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.numberTicketSelect > h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: rgb(27, 20, 100) 3px 3px;
    margin-bottom: 0;
}

.paypalContainer {
    width: 300px;
}

.paypalContainer > h2 {
    font-size: 2.3rem;
    text-shadow: rgb(27, 20, 100) 3px 3px;
}


@media screen and (min-width: 768px) { 
    .paypalContainer {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) { 
    .paypalContainer {
        width: 500px;
    }
}

