.paypal {
    margin-top: 100px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.paypalContainer {
    width: 300px;
}

.paypalContainer > h2 {
    font-size: 2.3rem;
    text-shadow: rgb(27, 20, 100) 3px 3px;
}


@media screen and (min-width: 768px) { 
    .paypalContainer {
        width: 400px;
    }
}
@media screen and (min-width: 1024px) { 
    .paypalContainer {
        width: 500px;
    }
}