.monCompte {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 50px;
}

.monCompteContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(30deg, rgba(126, 10, 209, 0.998), rgb(4, 185, 128) 80%) fixed;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.203), -10px -10px 15px rgba(0, 0, 0, 0.199);
}

.monCompteContainer > h1{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-shadow: rgb(27, 20, 100) 3px 3px;
    margin: 15px 0 10px;
}

.monCompteButtons {
    color: rgb(27, 20, 100);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lobster, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(330deg, #00FFB2, rgb(220, 206, 13) 80%);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.459) 6px 6px 25px;
    margin: 10px 0 20px;
    padding-bottom: 5px;
}




/*-----------------------------CSS servant aux messages d'erreurs*/
.offscreen {
    position: absolute;
    left: -9999px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    margin-top: 0;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin: 25px 0 0.5rem;
    border-radius: 15px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}