.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 110px;
    z-index: 5;
}

.header > a {
    z-index: 5;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 10px;
}

/*--------------------------Ici commence le menu grand ecran*/

.menu {
    display: none;
    z-index: 100;
}

.menu > a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #00FFB2;
}

.elementsMenu {
    font-size: 1.57rem;
    margin-right: 30px;
    text-shadow: rgb(27, 20, 100) 2px 2px;
}



/*---------------------------------Ici commence le menu burger déroulant*/

.menuDeroulant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(300deg, rgba(183, 19, 19, 0.998), rgb(06, 82, 221) 80%) fixed;
    color: #00FFB2;
    font-size: 2.2rem;
    padding: 0;
    height: 100%;
    text-decoration: none;
}

.menuDeroulant > a {
    text-decoration: none;
    color: #00FFB2;
}



.elementsDeroulant {
    min-height: 80px;
    height: 12.74vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #00FFB2;
}


.burger {
    width: 75px;
    height: 75px;
    margin-right: 25px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 100000000;
}


@media screen and (min-width: 1024px) { 

    .header {
        align-items: center;
    }


    .menu {
        display: flex;
    }

    .burger {
        display: none;
    }

}
