.connexion {
    display: flex;
    justify-content: center;
}

.connexionContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(30deg, rgba(126, 10, 209, 0.998), rgb(4, 185, 128) 80%) fixed;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.203), -10px -10px 15px rgba(0, 0, 0, 0.199);
}

.connexionTitle {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-shadow: rgb(27, 20, 100) 3.5px 3.5px;
    margin: 15px 0 10px;
}

.connexionForm {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.connexionForm > label {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-shadow: rgb(27, 20, 100) 2px 2px;
}

.connexionForm > input {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.150), -4px -4px 6px rgba(0, 0, 0, 0.150);
}

.connexionForm > button {
    color: rgb(27, 20, 100);
    height: 40px;
    font-family: Lobster, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(330deg, #00FFB2, rgb(220, 206, 13) 80%);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.459) 6px 6px 25px;
    margin-top: 10px;
}

.connexionContainer > h2 {
    text-shadow: rgb(27, 20, 100) 2px 2px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.connexionContainer > a {
    font-size: 1.3rem;
    color: rgb(72, 231, 217);
    text-shadow: rgb(46, 5, 156) 2px 2px;
    letter-spacing: 1px;
    text-decoration: underline;

}



@media screen and (min-width: 768px) { 
    .connexionContainer {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) { 
   
}



